#ifndef WIFI_CREDENTIALS_H
#define WIFI_CREDENTIALS_H

// ระบุชื่อ SSID และ Password สำหรับทดสอบการเชื่อมต่อ
#define EXAMPLE_ESP_WIFI_SSID "YOUR_WIFI_SSID"
#define EXAMPLE_ESP_WIFI_PASS "YOUR_WIFI_PASSWORD"

#endif // WIFI_CREDENTIALS_H
